#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.envoltura {
  display: inline;
}

.envoltura > div {
  display: inline-block;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.envoltura{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.empleadoCard{
  border: 1px solid #fff;
  padding: 15px 40px;
  border-radius: 10px;
  width: 200px;
}

.header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.header img{
  max-width: 70px;
  height: auto;
}


.calculator {
  margin: 25px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calculator div{
  display: flex;
  flex-direction: column;
}

.calculator .btns {
  gap: 10px;
}

.calculator .btns button {
  background-color: #fff;
  color: #000;
  transition: all .3s ease-in-out;
}

.calculator .btns button {
  background-color: #fff;
  color: #000;
}

.calculator .btns button:hover {
  background-color: #000;
  color: #fff;
}

.footer {
  text-align: left;
  border-top: 1px solid #fff;
  
}

.footer p {
  font-weight: bold;
}